.first-section {
    grid-template-columns: [line1] 230px [line2] 230px [line3] 230px [line4] 420px [line5];
    grid-template-rows: [row1] 200px [row2] 40px [row3] 200px [row4];
    display: grid;
    grid-gap: 1%;
    margin: 20px 0 0 0;

}

.itemA1 {
    grid-column: line1 / line3;
    grid-row: row1 / row3;
    text-align: center;
    background-color: #ff0000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.itemA2 {
    grid-column: line3 / line4;
    grid-row: row1 / row3;
    text-align: center;
    background-color: yellow;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.itemA3 {
    grid-column: line1 / line2;
    grid-row: row3 / row4;
    text-align: center;
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.itemA4 {
    grid-column: line2 / line4;
    grid-row: row3 / row4;
    text-align: center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.itemA5 {
    grid-column: line4 / line5;
    grid-row: row2 / row4;
    text-align: center;
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}